<li class="book-list-item col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-if="book">
    <div class="book-heading">{{book.header}}</div>
    <div class="book-item-content clearfix">
      <div class="book-item-image"><img ng-src="{{book.img}}" alt="{{book.header}}"></div>
      <div class="book-item-info">
          <strong>Authors:</strong>
          <span>
            <a ui-sref="/author/" ng-repeat="author in book.authors track by author._ks_id">
              {{author.name}}&nbsp;{{author.lastName}}
            </a>
          </span>
          <strong>Publisher:</strong><span>{{book.publisher}}</span>
          <strong>Publish Year:</strong><span>{{book.publishYear | date }}</span>
          <strong>Pages Number:</strong><span>{{book.pagesNumber}}</span>
          <strong>Publish date:</strong>{{book.publishDate}}<span></span>
          <strong>ISBN:</strong><span>{{book.ISBN}}</span>
      </div>
      </div>
  <div class="book-item-footer">
    <a class="btn btn-xs btn-primary" ui-sref="books.detail({id: book._ks_id, book: book})"><i class="fa fa-edit"></i></a>
    <a class="btn btn-xs btn-primary" ng-click=""><i class="fa fa-trash-o"></i></a>
  </div>
</li>
